* {
	@include font-family('source sans');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-family('overpass');
}

a {
	@include font-family('source sans');
	text-decoration: none;
}

p {
	@include font-family('source sans');
}

body {
	margin: 0;
}

svg.triangle {
	margin-bottom: -5px;
}

.inner-text {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 2rem;
	line-height: 1.5;

	@include breakpoint(600px) {
		padding: 0 4rem;
	}

	@include breakpoint(800px) {
		font-size: 1.3rem;
	}

	@include breakpoint(1000px) {
		padding: 4rem 0 0 0;
	}
}