/**
 * Hamburger menu based on: https://codepen.io/designcouch/pen/Atyop
 */

nav {
	align-items: center;
	background: $color_dark-gray;
	border-bottom: 0.3rem solid $color_orange;
	box-sizing: border-box;
	display: flex;
	height: 60px;
	justify-content: space-between;
	padding: 0 20px;
	position: relative;
	width: 100%;

	@include breakpoint(900px) {
		height: 65px;
		padding: 0 30px;
	}

	h1 {
		color: $color_white;
		font-size: 1.75rem;
		margin: 0;

		@include breakpoint(900px) {
			font-size: 2rem;
		}

		span {
			color: $color_light-gray;
		}
	}

	.hamburger {
		cursor: pointer;
		height: 32px;
		position: relative;
		right: 10px;
		transition: .5s ease-in-out;
		width: 40px;

		@include breakpoint(900px) {
			right: 30px;
		}

		span {
			background: $color_white;
			border-radius: 9px;
			display: block;
			height: 6px;
			position: absolute;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
			width: 40px;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 13px;
			}

			&:nth-child(4) {
				top: 28px;
			}
		}

		&.open {

			span{

				&:nth-child(1) {
					left: 50%;
					top: 13px;
					width: 0%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					left: 50%;
					top: 13px;
					width: 0%;
				}
			}
		}
	}

	#primary-menu {
		background: rgba(0,0,0,0.75);
		display: none;
		font-size: 2rem;
		list-style: none;
		margin: 0;
		padding: 0 30px;
		position: absolute;
		right: -30px;
		text-align: center;
		top: 48px;
		z-index: 999;

		&.open {
			display: block;
		}

		@include breakpoint(400px) {
			font-size: 1.75rem;
		}

		@include breakpoint(900px) {
			font-size: 2.5rem;
			right: -60px;
			top: 50px;
		}

		@include breakpoint(1200px) {
			font-size: 3.5rem;
		}

		li {

			a {
				@include font-family('overpass');
				color: $color_white;
			}

			&:nth-child(2n) {
				a {
					color: $color_light-gray;
				}
			}
		}
	}
}