.dates {

	.date {
		text-align: center;

		a {
			color: $color_black;

			&:hover {
				color: $color_orange;

				p span {
					color: $color_orange;
				}
			}

			p {
				margin: 0;
				padding: 1rem;

				@include breakpoint(500px) {
					font-size: 1.25rem;
				}

				span {
					color: #333;
					font-weight: 700;
					margin: 0 1rem;
				}

			}
		}

		&:nth-child(2n) {
			background: #ccc;
			border-radius: 0.25rem;
		}
	}

	h2.not-found {
		text-align: center;
	}
}

// Single shows page
.single-shows {

	.inner-text {
		max-width: 400px;

		.show-title {
			margin: 0;

			h1,
			h2,
			h3 {
				display: inline-block;
				margin: 0.5rem 0;
			}

			h1,
			h3 {
				background: $color_black;
				color: $color_white;
			}

			h2 {
				background: $color_blue;
				color: $color_white;
			}
		}

		a {
			color: $color_blue;
		}
	}
}