.home {

	h3 {
		font-size: 5rem;
		margin: 0 0;

		@include breakpoint(600px) {
			font-size: 8rem;
		}

		@include breakpoint(1000px) {
			font-size: 10rem;
		}

		@include breakpoint(1800px) {
			font-size: 14rem;
		}
	}

	.dates {
		
	}

	.photo-tiles {
		display: flex;
		margin-bottom: -4px;
		width: 100vw;

		img {
			height: auto;
			width: 100%;
		}
	}

	.bio {
		background: $color_dark-gray;
		border-top: 0.4rem solid $color_orange;

		h3 {
			color: $color_white;
			text-align: right;

			@include breakpoint(1000px) {
				float: right;
				width: 30%;
			}
		}

		.side {
			box-sizing: border-box;
			color: $color_white;
			font-size: 1.25rem;
			line-height: 1.5;
			padding: 0 2rem;

			@include breakpoint(700px) {
				font-size: 1.5rem;
				padding: 0 5rem;
				width: 80%;
			}

			@include breakpoint(1000px) {
				float: left;
				padding: 6rem 6rem 0 6rem;
				width: 70%;
			}

			@include breakpoint(1200px) {
				font-size: 2rem;
				padding: 6rem 8rem 0 8rem;
			}

			@include breakpoint(1900px) {
				padding: 6rem 16rem 0 16rem;
				width: 60%;
			}
		}
	}

	.read-more {
		@include font-family('overpass');
		color: $color_white;
		display: block;
		margin-top: 1rem;

		&:hover {
			border-bottom: 0.3 solid $color_light-gray;
			color: #ccc;;
		}
	}

	.links {
		display: flex;
		margin-bottom: -8px;
		width: 100vw;

		.media,
		.equipment {
			cursor: pointer;
			display: block;
			position: relative;

			&:hover {

				img {
					filter: brightness(0.5);
				}
			}

			h4 {
				color: $color_white;
				font-size: 2.25rem;
				margin: 10px 0;
				position: absolute;

				@include breakpoint(440px) {
					font-size: 3rem;
				}

				@include breakpoint(700px) {
					font-size: 5rem;
				}

				@include breakpoint(1100px) {
					font-size: 8rem;
				}

				@include breakpoint(1800px) {
					font-size: 12rem;
				}
			}

			img {
				height: auto;
				width: 100%;
			}
		}

		.media {
			flex: 1.1997649;

			h4 {
				top: 0;
				right: 5%;
			}

			svg {
				left: 5%;
				top: 10%;
			}
		}

		svg {
			position: absolute;
			width: 35%;
			z-index: 3;
		}

		.equipment {
			flex: 0.76947705;

			h4 {
				bottom: 0;
				font-size: 1.4rem;
				left: 5%;

				@include breakpoint(440px) {
					font-size: 1.9rem;
				}

				@include breakpoint(700px) {
					font-size: 3rem;
				}

				@include breakpoint(1100px) {
					font-size: 4.8rem;
				}

				@include breakpoint(1800px) {
					font-size: 7.5rem;
				}
			}

			svg {
				top: 50%;
				left: 10%;
			}
		}
	}
}