.media {

	.grid {
		box-sizing: border-box;
		justify-content: space-between;
		margin: 1rem auto;
		max-width: 1400px;
		min-height: 200px;

		.grid-item,
		.grid-measure {
			float: left;
			height: auto;
			margin-bottom: 5%;
			overflow: hidden;
			width: 50%;

			@include breakpoint(1000px) {
				width: 33.3333%;
			}

			img,
			.caption {
				height: auto;
				margin: 0 5%;
				width: 90%;
			}

			.caption {
				background: $color_blue;
				border-radius: 0 0 0.5rem 0.5rem;
				box-sizing: border-box;
				color: $color_white;
				font-size: 1.25rem;
				margin-top: -2%;
				padding: 0.5rem 1rem;
				text-align: center;
			}

			.embed {
				display: none;
			}

			&.not-found {
				font-size: 2rem;
				height: auto;
				margin: 2rem auto;
				position: static;
				text-align: center;
				width: 100%;
			}

			iframe {
				height: 80vw;
				left: 0;
				position: fixed;
				top: 10vw;
				width: 90%;
				z-index: 999;
			}

			&:hover {
				filter: brightness(1.25);
			}

			&.video {

				&:after {
					background-image: url(../images/play.svg);
					background-position: 50% 10%;
					background-repeat: no-repeat;
					background-size: 25% auto;
					content: '';
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;

					@include breakpoint(600px) {
						background-position: 50% 35%;
						background-size: 25% auto;
					}
				}
			}
		}
	}

	.sort-navigation {
		background: $color_dark-gray;
		border-bottom: 0.4rem solid $color_orange;
		border-top: 0.4rem solid $color_orange;
		display: flex;
		padding: 10px;
		justify-content: space-around;

		@include breakpoint(1000px) {
			padding: 10px 20%;
		}

		p {
			@include font-family('overpass');
			color: $color_white;
			cursor: pointer;
			font-size: 0.75rem;

			@include breakpoint(600px) {
				font-size: 1.25rem;
			}

			@include breakpoint(1400px) {
				font-size: 1.75rem;
			}

			&:hover {
				color: #ccc;
			}

			&.active {
				color: $color_orange;
			}
		}
	}

	.overlay {
		background: rgba(0,0,0,0.75);
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 998;

		.close {
			color: $color_white;
			cursor: pointer;
			font-size: 1.5rem;
			margin: 0;
			position: fixed;
			text-align: center;
			top: 2.5vw;
			width: 100%;

			&:hover {
				color: #ccc;
			}
		}

		// We are appending elements to overlay
		iframe {
			height: 60vh;
			margin: 20vh 5vw;
			width: 90vw;

			@include breakpoint(500px) {
				height: 76vh;
				margin: 12vh 10vw;
				width: 80vw;
			}

			@include breakpoint(1800px) {
				display: block;
				height: 76vh;
				margin: 12vh auto;
				width: 1400px;
			}
		}

		img {
			display: block;
			height: auto;
			margin: auto;
			width: auto;
		}
	}
}