.media {

	.grid {
		box-sizing: border-box;
		justify-content: space-between;
		margin: 1rem auto;
		max-width: 1400px;
		min-height: 200px;

		.grid-item,
		.grid-measure {
			float: left;
			height: auto;
			margin-bottom: 5%;
			overflow: hidden;
			width: 50%;

			@include breakpoint(1000px) {
				width: 33.3333%;
			}

			img,
			iframe,
			.caption {
				height: auto;
				margin: 0 5%;
				width: 90%;
			}

			.caption {
				background: $color_blue;
				border-radius: 0 0 0.5rem 0.5rem;
				box-sizing: border-box;
				color: $color_white;
				font-size: 1.25rem;
				margin-top: -2%;
				padding: 0.5rem 1rem;
				text-align: center;
			}

			&.not-found {
				font-size: 2rem;
				height: auto;
				margin: 2rem auto;
				position: static;
				text-align: center;
				width: 100%;
			}
		}
	}

	.sort-navigation {
		background: $color_dark-gray;
		border-bottom: 0.4rem solid $color_orange;
		border-top: 0.4rem solid $color_orange;
		display: flex;
		padding: 10px;
		justify-content: space-around;

		@include breakpoint(1000px) {
			padding: 10px 20%;
		}

		p {
			@include font-family('overpass');
			color: $color_white;
			cursor: pointer;

			@include breakpoint(1400px) {
				font-size: 1.75rem;
			}

			&:hover {
				color: #ccc;
			}

			&.active {
				color: $color_orange;
			}
		}
	}
}